*local*
GIMP
libreoffice
obs-studio
pulse
discord
godot
mimeapps.list
dconf
qutebrowser
bookmarks
zsh/.zcompdump
zsh/.zcompdump*
sway/config
unity3d
google-chrome
gtk-2.0/gtkfilechooser.ini
cef_user_data
nethack
