*local*
*zcompdump*
*.xbel*

sway/config
aerc/aerc.conf
qutebrowser/qsettings/QtProject.conf
pavucontrol.ini
configstore
godot/projects
gtk-2.0/
kdeglobals
kdenliverc
qutebrowser/bookmarks
qutebrowser/qsettings
qutebrowser/quickmarks
QtProject.conf
nixos/hostname.txt
tox
