*local*
*zcompdump*
*.xbel*

etc/sway/config
etc/aerc/aerc.conf
etc/qutebrowser/qsettings/QtProject.conf
etc/pavucontrol.ini
etc/configstore
etc/godot/projects
etc/gtk-2.0/
etc/kdeglobals
etc/kdenliverc
etc/qutebrowser/bookmarks
etc/qutebrowser/qsettings
etc/qutebrowser/quickmarks
etc/QtProject.conf

lib/zsh/history
lib/nvim
lib/qutebrowser
lib/gimp
lib/TabNine
lib/Steam
lib/Rocket League
lib/lesshist
lib/lesshisQ
lib/recently-used.xbel
lib/gnupg/gpg-agent.conf
lib/system-status
lib/zathura/
lib/Trash
lib/godot
lib/RecentDocuments
lib/icons

lib/gnupg/private-keys-v1.d
lib/gnupg/openpgp-revocs.d
lib/gnupg/pubring.kbx~
lib/gnupg/pubring.kbx
lib/gnupg/random_seed
lib/gnupg/tofu.db
lib/gnupg/trustdb.gpg
lib/gnupg/.#*
lib/pass


var/cache
var/log

etc/pulse

lib/gnupg/private-keys-v1.d
