
# i3 config file (v4)
#
# Please see https://i3wm.org/docs/userguide.html for a complete reference!

set $mod Mod4
set $base00 #101218
set $base01 #aaaaaa
#set $base01 #2f343f
set $base02 #252936
set $base03 #7780a1
set $base04 #C0C5CE
set $base05 #d1d4e0
set $base06 #C9CCDB
set $base07 #ffffff
set $base08 #ee829f
set $base09 #f99170
set $base0A #ffefcc
set $base0B #a5ffe1
set $base0C #97e0ff
set $base0D #97bbf7
set $base0E #c0b7f9
set $base0F #fcc09e

# Font for window titles. Will also be used by the bar unless a different font
# is used in the bar {} block below.
font pango:Fantasque Sans Mono 9 #System San Francisco 12 #Quicksand-Light 8

# This font is widely installed, provides lots of unicode glyphs, right-to-left
# text rendering and scalability on retina/hidpi displays (thanks to pango).
#font pango:DejaVu Sans Mono 9

# Before i3 v4.8, we used to recommend this one as the default:
# font -misc-fixed-medium-r-normal--13-120-75-75-C-70-iso10646-1
# The font above is very space-efficient, that is, it looks good, sharp and
# clear in small sizes. However, its unicode glyph coverage is limited, the old
# X core fonts rendering does not support right-to-left and this being a bitmap
# font, it doesn?t scale on retina/hidpi displays.

# Use Mouse+$mod to drag floating windows to their wanted position
floating_modifier $mod

default_border pixel 3

# start a terminal
#bindsym $mod+Return exec i3-sensible-terminal
bindsym $mod+Return exec termite

# start file explorer
bindsym $mod+shift+p exec thunar

#for_window [class="^.*"] border pixel 0

gaps inner 20
gaps outer 0

#gaps left 10
#gaps right 400
#gaps vertical 10
#gaps right 30

# quit focused window
bindsym $mod+q kill

# start dmenu (a program launcher)
bindsym $mod+space exec rofi -show drun -display-drun "SYSTEM:"
#bindsym $mod+d exec rofi -show run -lines 5 -eh 2 -width 100 -padding 500 -opacity "80" -bw 0 -bc "$base01" -bg "$base02" -fg "$base0
# There also is the (new) i3-dmenu-desktop which only displays applications
# shipping a .desktop file. It is a wrapper around dmenu, so you need that
# installed.
# bindsym $mod+d exec --no-startup-id i3-dmenu-desktop

# change focus
bindsym $mod+j focus left
bindsym $mod+k focus down
bindsym $mod+l focus up
bindsym $mod+semicolon focus right

# alternatively, you can use the cursor keys:
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

# move focused window
bindsym $mod+Shift+j move left
bindsym $mod+Shift+k move down
bindsym $mod+Shift+l move up
bindsym $mod+Shift+semicolon move right

# alternatively, you can use the cursor keys:
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

# split in horizontal orientation
bindsym $mod+h split h

# split in vertical orientation
bindsym $mod+v split v

# enter fullscreen mode for the focused container
bindsym $mod+f fullscreen toggle

# change container layout (stacked, tabbed, toggle split)
bindsym $mod+s layout stacking
bindsym $mod+Shift+q layout tabbed
bindsym $mod+e layout toggle split

# toggle tiling / floating
bindsym $mod+Shift+space floating toggle

# change focus between tiling / floating windows
bindsym $mod+Shift+d focus mode_toggle

# focus the parent container
bindsym $mod+a focus parent

# focus the child container
#bindsym $mod+d focus child

# switch to workspace
bindsym $mod+1 exec killall conky; exec ~/scripts/workspace-manager.sh switch 1
bindsym $mod+2 exec killall conky; exec ~/scripts/workspace-manager.sh switch 2
bindsym $mod+3 exec killall conky; exec ~/scripts/workspace-manager.sh switch 3
bindsym $mod+4 exec killall conky; exec ~/scripts/workspace-manager.sh switch 4
bindsym $mod+5 exec killall conky; exec ~/scripts/workspace-manager.sh switch 5
bindsym $mod+6 exec killall conky; exec ~/scripts/workspace-manager.sh switch 6
bindsym $mod+7 exec killall conky; exec ~/scripts/workspace-manager.sh switch 7
bindsym $mod+8 exec killall conky; exec ~/scrtips/worksapce-manager.sh switch 8
bindsym $mod+9 exec killall conky; exec ~/scripts/workspace-manager.sh switch 9
bindsym $mod+0 exec killall conky; exec ~/scripts/workspace-manager.sh switch 10

# move focused container to workspace
bindsym $mod+Shift+1 move container to workspace 1
bindsym $mod+Shift+2 move container to workspace 2
bindsym $mod+Shift+3 move container to workspace 3
bindsym $mod+Shift+4 move container to workspace 4
bindsym $mod+Shift+5 move container to workspace 5
bindsym $mod+Shift+6 move container to workspace 6
bindsym $mod+Shift+7 move container to workspace 7
bindsym $mod+Shift+8 move container to workspace 8
bindsym $mod+Shift+9 move container to workspace 9
bindsym $mod+Shift+0 move container to workspace 10

# reload the configuration file
bindsym $mod+Shift+c reload
# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $mod+Shift+r restart
# exit i3 (logs you out of your X session)
#bindsym $mod+Shift+e exec "i3-nagbar -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -b 'Yes, exit i3' 'i3-msg exit'"
bindsym $mod+Shift+e exit sway
# resize window (you can also use the mouse for that)
mode "resize" {
        # These bindings trigger as soon as you enter the resize mode

        # Pressing left will shrink the window?s width.
        # Pressing right will grow the window?s width.
        # Pressing up will shrink the window?s height.
        # Pressing down will grow the window?s height.
        bindsym j resize shrink width 10 px or 10 ppt
        bindsym k resize grow height 10 px or 10 ppt
        bindsym l resize shrink height 10 px or 10 ppt
        bindsym semicolon resize grow width 10 px or 10 ppt

        # same bindings, but for the arrow keys
        bindsym Left resize shrink width 10 px or 10 ppt
        bindsym Down resize grow height 10 px or 10 ppt
        bindsym Up resize shrink height 10 px or 10 ppt
        bindsym Right resize grow width 10 px or 10 ppt

        # back to normal: Enter or Escape
        bindsym Return mode "default"
        bindsym Escape mode "default"
        bindsym $mod+r mode "default"
        bindsym $mod+space mode "default"

	# switch to workspace
	bindsym $mod+1 mode "default"
	bindsym $mod+2 mode "default"
	bindsym $mod+3 mode "default"
	bindsym $mod+4 mode "default"
	bindsym $mod+5 mode "default"
	bindsym $mod+6 mode "default"
	bindsym $mod+7 mode "default"
	bindsym $mod+8 mode "default"
	bindsym $mod+9 mode "default"
	bindsym $mod+0 mode "default"

	# move focused container to workspace
	bindsym $mod+Shift+1 mode "default"
	bindsym $mod+Shift+2 mode "default"
	bindsym $mod+Shift+3 mode "default"
	bindsym $mod+Shift+4 mode "default"
	bindsym $mod+Shift+5 mode "default"
	bindsym $mod+Shift+6 mode "default"
	bindsym $mod+Shift+7 mode "default"
	bindsym $mod+Shift+8 mode "default"
	bindsym $mod+Shift+9 mode "default"
	bindsym $mod+Shift+0 mode "default"

	bindsym $mod+Shift+c mode "default"

	# gaps
	bindsym alt+left gaps right current set 400; exec killall conky; exec ./scripts/workspace-manager.sh set-mode 1
        bindsym alt+right gaps right current set 0; gaps left current set 0; exec killall conky; exec ./scripts/workspace-manager.sh set-mode 0
	
	bindsym ctrl+right gaps left current set 400; exec killall conky; exec ./scripts/workspace-manager.sh set-mode 2
        bindsym ctrl+left gaps left current set 0; gaps right current set 0; exec killall conky; exec ./scripts/workspace-manager.sh set-mode 0
}

bindsym $mod+r mode "resize"

  client.focused          $base01 $base01 $base07 $base0F $base01
  client.focused_inactive $base01 $base02 $base03 $base0F $base01
  client.unfocused        $base01 $base02 $base03 $base0F $base01
  client.urgent           $base01 $base08 $base00 $base0F $base01

#hide_edge_borders both

# Start i3bar to display a workspace bar (plus the system information i3status
# finds out, if available)
#bar {
#        status_command i3status
#}

bar {
        status_command while date; do sleep 1; done
        #status_command i3blocks
#	font pango:Quicksand-Light 9
	#font pango:Monospace 9
        position bottom
        strip_workspace_numbers yes
        #bindsym button4 nop
        #bindsym button5 nop
        colors {
              separator $base03
              background #000000
              statusline $base05
#                        border  background text
              focused_workspace  #000000 #ffffff #000000
              active_workspace   #000000 #000000 #ffffff
              inactive_workspace #000000 #000000 #ffffff
              urgent_workspace   #000000 #000000 #ffffff
    }
}

exec --no-startup-id gnome-settings-daemon
exec --no-startup-id nm-applet
exec --no-startup-id gnome-sound-applet
exec xinput set-prop 13 302 1
exec nitrogen --restore &
exec xcompmgr -c -f -n

exec --no-startup-id i3-msg 'exec /usr/bin/pulseaudio --start'

# Pulse Audio controls
bindsym XF86AudioRaiseVolume exec --no-startup-id pactl set-sink-volume 0 +5% #increase sound volume
bindsym XF86AudioLowerVolume exec --no-startup-id pactl set-sink-volume 0 -5% #decrease sound volume
bindsym XF86AudioMute exec --no-startup-id pactl set-sink-mute 0 toggle # mute sound

# Sreen brightness controls
bindsym XF86MonBrightnessUp exec light -A 20 # increase screen brightness
bindsym XF86MonBrightnessDown exec light -U 20 # decrease screen brightness

# Media player controls
bindsym XF86AudioPlay exec playerctl play
bindsym XF86AudioPause exec playerctl pause
bindsym XF86AudioNext exec playerctl next
bindsym XF86AudioPrev exec playerctl previous

bindsym $mod+Ctrl+Right resize shrink width 5 px or 5 ppt
bindsym $mod+Ctrl+Up resize grow height 5 px or 5 ppt
bindsym $mod+Ctrl+Down resize shrink height 5 px or 5 ppt
bindsym $mod+Ctrl+Left resize grow width 5 px or 5 ppt

# --- Assignment to Workspace -- #
assign [class="(?i)code"] 2
assign [class="(?i)atom"] 2
assign [class="(?i)Firefox"] 3
assign [class="(?i)Unity"] 4
assign [class="(?i)UE4Editor"] 4
assign [class="(?i)discord"] 5
assign [class="(?i)Steam"] 6
assign [class="(?i)obs"] 9

bindsym $mod+shift+x exec swaylock --insidevercolor=fecf4dff --line-uses-inside -i ~/.background-image --insidecolor=00000000 --bshlcolor=d23c3dff --separatorcolor=00000000 --insidevercolor=fecf4dff --insidewrongcolor=d23c3dff --ringvercolor=ffffffff --ringwrongcolor=ffffffff

bindsym $mod+p exec gnome-system-monitor

exec rm -r .cache/workspaces

exec_always compton -f

exec --no-startup-id compton -b
exec xrdb ~/.Xresources
exec wal -i .background-image

#output DVI-I-1 scale 0.8
output * background ~/.background-image fill
#output * background #000000 solid_color
